body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      padding: 20px 50px;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
    }
    .logo {
      text-decoration: none;
      color: aliceBlue;
      font-size: larger;
      font-weight: 700;
    }
    .navbar a {
      position: relative;
      font-size: large;
      font-weight: 500;
      color: aliceBlue;
      text-decoration: none;
      margin-left: 10px;
    }
    .navbar a::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0%;
      height: 2px;
      background: aliceBlue;
      transition: .3;
    }
    .navbar a:hover::before {
      width: 100%;
    }






h1 {
  font-size: 30px;  
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  background-image: url('https://images.unsplash.com/photo-1704026438453-fde2ceb923ad?q=80&w=736&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: aliceblue;
  text-shadow: 3px 3px #000;
  font-size: 15px;
  padding: 20px 0;
}

.profile-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 100px;
  filter: drop-shadow(5px 5px 10px #000000);
}

.content-block {
  flex-basis: 30%;
}

.content-section {
  position: relative;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.content-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('https://images.unsplash.com/photo-1704957234554-686d9e700e21?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8');
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.4;
}

.contact {
  background-image: url('https://images.unsplash.com/photo-1523966211575-eb4a01e7dd51?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbnRhY3R8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  background-attachment: fixed;
  color: black;
  text-align: center;
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(93, 97, 149, 0.26);
  color: whitesmoke;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: white;
}

li a {
  text-decoration: none;
  color: whitesmoke;
}


@media only screen and (max-width: 600px) {
  .content-section {
    flex-direction: column;
  }
}

